<header class="d-flex justify-content-between border-bottom py-3">
    <a href="/" class="text-decoration-none text-black"><h2>Hotelify</h2></a>
    <div>
        <a href="https://twitter.com/shuklaritvik06"><button class="btn btn-warning"><i class="bi bi-twitter"></i>&nbsp;Follow me</button></a>
    </div>
</header>