<html lang="en">
<head>
    <%- include('./partials/header')%>
    <title>Hotel Rating App</title>
</head>
<body>
<div class="container">
    <%- include('./partials/nav')%>
    <div class="bg-light p-5 rounded mt-3">
        <h1>Hotel Rater</h1>
        <p class="lead">Rate your favorite hotels, your rating will help other folks searching for good hotels near them.</p>
        <a class="btn btn-lg btn-primary" href="/dashboard" role="button">View Ratings</a>
    </div>
</div>
</body>
</html>